  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: #f5f5f5;
            color: #333;
        }

        /* HEADER */
.shopease-header {
  font-family: Arial, sans-serif;
}

/* Top header */
.header-top {
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #ff9900;
  cursor: pointer;
}
/* Search */
.search-box {
  flex: 1;
  display: flex;
}
.search-box input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
}
.search-box button {
  background: #febd69;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

/* Header links */
.header-links {
  display: flex;
  gap: 20px;
  font-size: 12px;
  cursor: pointer;
}
.header-links strong {
  font-size: 14px;
}
.header-links :hover{
    color:#ff9800;
}
.cart {
  font-size: 16px;
  font-weight: bold;
}

/* Navigation bar */
.header-nav {
  background: #232f3e;
  padding: 8px 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.header-nav a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .location, .header-links {
    display: none;
  }
}

        nav a:hover {
            color: #ff9800;
        }

        .hero {
            background: linear-gradient(to right, #ff9800, #ff5722);
            color: #fff;
            padding: 3rem 2rem;
            text-align: center;
        }
         .hero button {
          margin-top: 20px;
          padding: 12px 25px;
          border: none;
         border-radius: 25px;
         font-size: 16px;
         background-color: #000;
         color: #fff;
         cursor: pointer;
         transition: transform 0.3s ease;
        }
        .hero h2 {
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }

        .hero p {
            font-size: 1.1rem;
        }

        .products {
            padding: 3rem 2rem;
            max-width: 1200px;
            margin: auto;
            display: grid;
        }
        

        .products h2 {
            text-align: center;
            margin-bottom: 2rem;
            font-size: 2rem;
        }

        .product-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 25px;
            padding: 40px;
        }

        .product {
            background: #fff;
            padding: 15px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 4px 12px rgba(0,0,0,0.08);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .product img {
            width: 100%;
            height: 220px;
            object-fit: contain;
            border-radius: 5px;
        }
        

        .product h3 {
            margin: 10px 0 5px;
            font-size: 16px;
        }

        .price {
            font-weight: bold;
            color: #e63946;
            
        }

        .product button {
            background: #111;
           margin-top: 10px;
           justify-content: center;
            gap: 10px;
            color: #fff;
            border: none;
            padding: 10px  16px;
            cursor: pointer;
            border-radius: 6px;
            font-size: 14px;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }
        .add-cart{
            background-color: #000;
            color: #fff;
        }
        .buy-btn{
            background-color: #ff6a00;
            color: #fff;
        }
        .product button:hover {
            background: #ff9800;
            transform: scale(1.05);
        }
        .add-cart:hover{
            background-color: #333;
        }
        .buy-btn:hover{
            background-color: #e85c00;
        }
        .categories {
           text-align: center;
           padding: 60px 20px;
           background: #f9f9f9;
        }
         .categories h2{
            font-size: 28px;
            margin-bottom: 35px;
            font-weight: 600;
         }
        .category-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
            gap: 25px;
            margin: auto;
            max-width: 1500px;
        }

        .category-card {
            background: white;
            padding: 35px 20px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0 6px 15px rgba(0,0,0,0.08);
            transition: all 0.3s ease ;
        }

        .category-card:hover {
            transform: translateY(-8px);
            box-shadow: 0 8px 20px rgba(0,0,0,0.15);
            color: white;
            background: #e76f51;
        }

       /* Mobile */
        @media (max-width: 768px) {
           .category-grid {
               grid-template-columns: repeat(autofit,minmax());
                }
            }
           .offers {
             background: linear-gradient(to right, #ff6a00, #ff8c42);
             color: #fff;
             text-align: center;
             padding: 50px 20px;
             }

        .offer-btn {
              margin-top: 20px;
             padding: 12px 25px;
             border: none;
             border-radius: 25px;
              font-size: 16px;
             background-color: #000;
             color: #fff;
             cursor: pointer;
             transition: transform 0.3s ease;
            }

         .offer-btn:hover {
             transform: scale(1.1);
            }


       /* Footer Wrapper */
.footer {
  background: linear-gradient(to bottom, #0f172a, #020617);
  color: #d1d5db;
  font-family: Arial, sans-serif;
}

/* Back to top bar */
.footer-top {
  background: linear-gradient(to right,#1a3d5f, #2f4f7f);
  text-align: center;
  padding: 12px;
}

.footer-top a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.footer-top a:hover {
  text-decoration: underline;
}

/* Main footer */
.footer-main {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Brand column */
.footer .brand h2 {
  color: #ff9f43;
  margin-bottom: 10px;
}

.footer .brand p {
  font-size: 14px;
  margin-bottom: 6px;
}

/* Footer columns */
.footer-col h3 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-col a {
  display: block;
  color: #9ca3af;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-col a:hover {
  color: #ff9f43;
}

/* Bottom bar */
.footer-bottom {
  border-top: 1px solid #1f2933;
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: #9ca3af;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-main {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
         

/* Mobile footer */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}


        /* RESPONSIVE NAV */
        @media (max-width: 600px) {
            nav {
                display: none;
            }

            header {
                justify-content: center;
            }
         }
          @media (max-width:576px){
                .products{
                    grid-template-columns: 1fr;
                    padding: 20px;
                }
                nav{
                    flex-direction: column;
                    text-align: center;
                }
                nav ul{
                    padding-top: 10px;
                }
            }
        /*tablet*/
         @media (max-width: 992px){
                .products{
                    grid-template-columns: repeat(2, 1fr);
                }
            }       